<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2 class="headingColor">All customers</h2>
            <br>
            <div *ngIf='customers.length==0'> No records</div>
            <div class="table-responsive" *ngIf='customers.length>0'>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="tableHeadingColor">#</th>
                            <th scope="col" class="tableHeadingColor">Name</th>
                            <th scope="col" class="tableHeadingColor">Area</th>
                            <th scope="col" class="tableHeadingColor">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let customer of customers;let i = index' (click)=goToCustomerDetails(customer)>
                            <th scope="row">{{i+1}}</th>
                            <td>{{customer.name}}</td>
                            <td>{{customer.area}}</td>
                            <td>{{customer.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="goToAddCustomer()"><i class="fas fa-plus"></i> customer</button>
        </div>
    </div>
</div>