/* You can add global styles to this file, and also import other style files */
.backgroundColor{
    background-color: #e9ecef
}
.newFont{
    font-family: museo-sans,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif
}
.greenFont{
    color: green
}
.redFont{
    color: red
}

.headingColor{
  color: #f5821f;
}

.tableHeadingColor{
    color: #008cbc
}